.Input {
	border-style: solid;
	border-color : #171a21;
	background-color: #171a21;
	border-radius: 5px;
	margin: 10px;
	color: #c7d5e0;
}
.Input:focus {
	background: #1b2838;
	color: #c7d5e0;
}
body {
	background-color:#2a475e ;
	font-family: roboto;
}
form
{
	display:inline-block;
	text-align:center;
	background-color: white;
	font-size:30px;
	width:500px;
	margin-top:10%;
	margin-left:35%;
	border-radius:30px;
}
.submit
{
	font-size:35px;
	padding: 10px;
	border-radius:20px;
	border:solid;
	border-color:#1b2838;
	background-color:#1b2838;
	color:#c7d5e0;
}
.submit:hover
{
	border:solid;
	background-color:#1b2838;
	border-color: grey;
}

.submit:focus
{
	border:solid;
	background-color:#1b2838;
	border-color: #66c0f4;
}