body{
    background-color: #2a475e;
    font-family: roboto;
    color: #ffffff;
    text-align: center;
}
table {
	display: flex; 
    flex-wrap: wrap;
	justify-content: center;
}
tr{display:flex; flex-direction: column;justify-content: center;}
td{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
tbody{
    display: flex;
    flex-direction: column;
}
a{justify-content: center;}